# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.log

# Java class files
*.class

# Python objects
*.pyc

# Misc files
*.jpg
*.tar
*.json
bin/
build/

# Rust files
Cargo.lock
src/rust/rcollections/target
examples/plugin/rust/target
